*{

  background-color: #FFFAE3;
  color: #3C3C3B;
  font-family:微軟正黑體;
  position: relative;
}

body{
  background-attachment: fixed;
  /* background-image: url('converse-shoes.png'); */
  background-repeat:no-repeat;
  background-size:  500px 400px;
  background-position:right bottom;
  margin-left: 60px;
}

h1{
  font-size: 50px;
  text-transform: uppercase;
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  display: inline-block;
}

h2{
  display: inline-block;
  transform: translate(200px, 20px);
  margin-top: 0px;

}

input{
  font-size: 15px;
  display: inline;
  transform: translate(340px, -30px);
}

.block{
  position: relative;

}

.button{
  font-family: 微軟正黑體;
  font-size: 20px;
  padding: 2px 9px;
  background-color: #C0D89C;

}
.outer{
  border: 2px #3C3C3B solid;
  background-color: #C0D89C;
  padding: 3px;
  display: inline-block;
  border-radius: 5px;
  margin-left:30px;
  position: absolute;
  right: 650px;
  bottom: 100px;
  cursor: pointer;
}


.button:before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
/* border: 1px solid rgba(255,255,255,0.5); */
transition: all 0.3s;
}
.button:hover:before{
opacity: 0;
transform: scale(1.2,1.2);
}
.button:after{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
background-color: rgba(255,255,255,0.25);
transition: all 0.3s;
transform: scale(0.5,0.5);
}
.button:hover:after{
opacity: 1 ;
transform: scale(1,1);
}
