{% load static %}

<head>
    <meta charset="utf-8">
    <title>加入購買資訊</title>
    <link rel=stylesheet type="text/css" href="{% static 'home/css/加入購買資訊.css' %}">
  </head>
  <body>
    <div>
      <h1>加入購買資訊</h1>
    </div>

    <div>
      <div class="block">
        <h2>型號</h2>
      </div>
      <div class="block">
        <form name="product-id">
          <input type="text" name="sale-product-id">
        </form>
      </div>

      <div class="block">
        <h2>鞋碼</h2>
      </div>
      <div class="block">
        <form name="size">
          <input type="text" name="sale-size">
        </form>
      </div>

      <div class="block">
        <h2>會員ID</h2>
      </div>
      <div class="block">
        <form name="id">
          <input type="text" name="sale-id">
        </form>
      </div>

      <div class="block">
        <h2>日期</h2>
      </div>
      <div class="block">
        <form name="date">
          <input type="text" name="sale-date">
        </form>
      </div>

      <div class="block">
        <h2>付款方式</h2>
      </div>
      <div class="block">
        <form name="payment">
          <input type="text" name="sale-payment">
        </form>
      </div>






    </div>

    <div class="outer">
      <div class="button add">確認</div>
    </div>


  </body>
