<!DOCTYPE html>
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <title>庫存查詢系統</title>
  <link rel=stylesheet type="text/css" href="{% static 'home/css/庫存查詢系統.css' %}">
</head>
<body>
  <h1 class='ch'>庫存查詢系統</h1>

  <h2 class="select">選擇廠商</h2>
  <div class="select">
    <form>
      <select name="city">
       <option value="Taipei">廠商A</option>
       <option value="NewTaipei">廠商B</option>
       <option value="Taichung">廠商C</option>
       <option value="Kaohsiung">廠商D</option>
      </select>
    </form>
  </div>

  <div>
      <table width= "800px" border="1">
      <tr>
        <th>型號</th>
        <th>鞋碼</th>
        <th>訂購數量</th>
        <th>訂購倉庫</th>
        <th>訂購日期</th>
      </tr>
      <!-- {% for r in result %}
      <tr>
        <th> {{ result.name }}</th>
        <th> {{ result.address }}</th>
        <th> {{ result.time }}</th>
        <th> {{ result.date }}</th>
      </tr>
      {% endfor %} -->
      </table>
  </div>

  <div class="outer">
    <div class="button back">返回前頁</div>
  </div>
</body>
</html>
