{% load static %}

<head>
    <meta charset="utf-8">
    <title>新增會員</title>
    <link rel=stylesheet type="text/css" href="{% static 'home/css/新增會員.css' %}">
  </head>
  <body>
    <div>
      <h1>新增會員</h1>
    </div>

    <div>
      <div class="block">
        <h2>會員姓名</h2>
      </div>
      <div class="block">
        <form name="name">
          <input type="text" name="member-name">
        </form>
      </div>

      <div class="block">
        <h2>電話</h2>
      </div>
      <div class="block">
        <form name="number">
          <input type="text" name="member-number">
        </form>
      </div>

      <div class="block">
        <h2>地址</h2>
      </div>
      <div class="block">
        <form name="add">
          <input type="text" name="member-add">
        </form>
      </div>

      <div class="block">
        <h2>年齡</h2>
      </div>
      <div class="block">
        <form name="age">
          <input type="text" name="member-age">
        </form>
      </div>

      <div class="block">
        <h2>e-mail</h2>
      </div>
      <div class="block">
        <form name="mail">
          <input type="text" name="member-mail">
        </form>
      </div>

      <div class="block">
        <h2>家庭成員數</h2>
      </div>
      <div class="block">
        <form name="family-mem">
          <input type="text" name="member-family-mem">
        </form>
      </div>

      <div class="block">
        <h2>月收入</h2>
      </div>
      <div class="block">
        <form name="income">
          <input type="text" name="member-income">
        </form>
      </div>

      <div class="block">
        <h2>註冊日期</h2>
      </div>
      <div class="block">
        <form name="date">
          <input type="text" name="member-date">
        </form>
      </div>



    </div>

    <div class="outer">
      <div class="button add">確認</div>
    </div>


  </body>
